<div class="modal">
  <div class="modal-inner">
    <div class="modal-content">
      <div class="modal-close-icon">
        <a href="javascript:void(0)" class="close-modal"><i class="fa-solid fa-square-xmark fa-2x"></i></a>
      </div>
      <div class="modal-content-inner">
        <h4 id='modal_title'>loading...</h4>
        <p id='modal_body'>loading...</p>  
      </div>
      <div class="modal-buttons">
        <button class="button close-modal">Cancel</button>
        <button class="button button-primary" id="modal_button">OK</button>
      </div>
    </div>
  </div>
</div>
